<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdbc.mapper.AssignmentMapper">

    <resultMap id="userResultMap" type="com.hdbc.pojo.UserForShow">
        <id property="userID" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="portrait" column="portrait"/>
    </resultMap>

    <select id="getGroupMembers" parameterType="integer" resultMap="userResultMap">
        select tu.user_id, nickname, portrait
            from t_assignment inner join fatality.t_user tu on t_assignment.user_id = tu.user_id
        where group_id = #{groupID}
    </select>
</mapper>
