<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdbc.mapper.UserFoodPoolMapper">

    <insert id="insertItem">
        INSERT INTO user_food_pool (user_id, food_name, pool_name)
        SELECT #{userID}, #{newItem}, #{poolName}
        FROM DUAL
        WHERE NOT EXISTS (
            SELECT *
            FROM user_food_pool
            WHERE user_id = #{userID}
              AND food_name = #{newItem}
              AND pool_name = #{poolName}
        );
    </insert>

    <!-- 批量插入物品 -->
    <insert id="batchInsertItems" parameterType="map">
        INSERT INTO user_food_pool (user_id, pool_name, food_name)
        VALUES
        <foreach collection="items" item="item" index="index" separator=",">
            (#{userID},#{poolName},#{item})
        </foreach>
    </insert>


    <!-- 批量删除物品 -->
    <delete id="batchDeleteItems" parameterType="map">
        DELETE FROM user_food_pool
        WHERE user_id = #{userID}
        AND pool_name = #{poolName}
        AND food_name IN
        <foreach collection="items" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>
