<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdbc.mapper.UserMapper">

    <insert id="insert" parameterType="com.hdbc.pojo.User" useGeneratedKeys="true" keyColumn="user_id" keyProperty="userID">
        insert into t_user(nickname, openid, session_key, portrait, gender, username, password, background, wx_union_id)
        values (#{nickname},#{openid},#{sessionKey},#{portrait},#{gender},#{username},#{password},#{background},#{wxUnionID})
    </insert>
</mapper>
